
.formImovelCadastro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fafafa;

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: #3f51b5;
      margin-bottom: 20px;
      text-align: center;
    }

    .dados {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);

      mat-form-field {
        width: 100%;
      }
    }

    .botoes {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      button {
        padding: 10px 20px;
        font-weight: bold;
        width: 30%;

        &:first-child {
          background-color: #f44336;
          color: white;
        }

        &:last-child {
          background-color: #3f51b5;
          color: white;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

