.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f3f4f6; // Fundo mais claro para o container principal

  .pesquisarVendedor{
    width: 30%;
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .badge {
      button {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .novo {
      padding: 8px 20px;
      font-weight: 600;
    }
  }

  .conteudo {
    display: grid;
    gap: 20px;
  }

  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    mat-card-header {
      margin-bottom: 10px;

      mat-card-title {
        font-size: 18px;
        font-weight: bold;
        color: #3f51b5;
      }

      mat-card-subtitle {
        font-size: 14px;
        color: #757575;
      }
    }

    .acoes {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      margin-top: 15px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        &.mat-primary {
          background-color: #3f51b5 !important;
        }

        &.mat-accent {
          background-color: #ff4081 !important;
        }

        &.mat-warn {
          background-color: #f44336 !important;
        }

        mat-icon {
          font-size: 20px;
          color: #ffffff
        }
      }
    }
  }
}
